
<h1>About SEVA</h1>

<p>We have all the stats you want in one place.  SEVA knows that coaches have limited time to watch, evaluate, and recruit players.  We makes coaches’ lives easier by filtering and sorting data from over 30,000 players.

SEVA also helps you with some elite statistical analysis.  Our SEVA Score takes into account a player’s on court performance, team performance, and personal information to produce an overall recruit rating.  Check out other analysis such as our Estimated Position and Scoring Breakdown.</p>

</br>
</br>
<h2>Here is a Sample of how SEVA works</h2>
</br>
</br>
<table id="previous-players">
  <thead>
    <tr>
      <td>Player</td>
      <td>College</td>
      <td>SEVA Score</td>
      <td>Scout Star Rating</td>
      <td>Rivals Star Rating</td>
      <td>ESPN Star Rating</td>
      <td>ESPN Rating</td>
    </tr>
  </thead>
  <tbody>
  <tr>
    <td>Jimmer Fredette</td>
    <td>BYU</td>
    <td>9.31</td>
    <td>2</td>
    <td>3</td>
    <td>*</td>
    <td>79</td>
  </tr>
  <tr>
    <td>Kelly Olynyk</td>
    <td>Gonzaga</td>
    <td>9.57</td>
    <td>0</td>
    <td>0</td>
    <td>*</td>
    <td>90</td>
  </tr>
  <tr>
    <td>Damian Lillard</td>
    <td>Weber St.</td>
    <td>4.36</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>85</td>
  </tr>
  <tr>
    <td>Keala King</td>
    <td>Arizona St/Long Beach St</td>
    <td>5.21</td>
    <td>4</td>
    <td>5</td>
    <td>4</td>
    <td>95</td>
  </tr>
  <tr>
    <td>CJ McCollum</td>
    <td>Lehigh</td>
    <td>9.09</td>
    <td>2</td>
    <td>0</td>
    <td>*</td>
    <td>83</td>
  </tr>
  <tr>
    <td>Ron Baker</td>
    <td>Witchita St.</td>
    <td>8.19</td>
    <td>1</td>
    <td>0</td>
    <td>0</td>
    <td>NR</td>
  </tr>
  <tr>
    <td>Demarcus Harrison</td>
    <td>BYU/Clemson</td>
    <td>2.33</td>
    <td>2</td>
    <td>4</td>
    <td>3</td>
    <td>91</td>
  </tr>
  <tr>
    <td>Jaycee Carroll</td>
    <td>Utah St</td>
    <td>9.27</td>
    <td>0</td>
    <td>0</td>
    <td>*</td>
    <td>*</td>
  </tr>
  <tr>
    <td>Josiah Turner</td>
    <td>Arizona</td>
    <td>6.11</td>
    <td>5</td>
    <td>5</td>
    <td>5</td>
    <td>97</td>
  </tr>
  <tr>
    <td>Kenneth Faried</td>
    <td>Morehead St.</td>
    <td>8.19</td>
    <td>0</td>
    <td>0</td>
    <td>*</td>
    <td>75</td>
  </tr>
  <tr>
    <td>Travis Wear</td>
    <td>North Carolina/UCLA</td>
    <td>5.21</td>
    <td>4</td>
    <td>4</td>
    <td>4</td>
    <td>94</td>
  </tr>
 </tbody>
</table>

</br>
</br>
</br>
</br>

<h2>What the numbers mean?</h2>
<%= image_tag ('SEVA_Score_Graphic.png'), class: 'image-responsive' %>
</br>
</br>
</br>
</br>


<h2>FAQ</h2>

<h3>How is a SEVA Score calculated?</h3>
<p>SEVA uses advanced statistical methods in the calculation of SEVA Scores. While the details of these methods are kept proprietary, we do note that SEVA only uses information that is relevant to the on-court performance of each player. In calculating SEVA Scores, we make use of individual box score statistics (such as PPG and RPG), team level performance (such as Win% and Division) as well as pertinent player information (such as height and class).</p>
</br>
</br>
<h3>What if a SEVA Score is lower than the level of recruitment for a given player?</h3>
<p>The following are possible explanations for such a scenario:
	•	Recruiters/Coaches see potential above and beyond that player’s performance. They  may believe the player will be able to develop into a better player than what past performance has shown.
	•	The player may have positive characteristics that are not measured on the court (i.e. grades, character, etc.).
	•	The player’s perceived level of interest may be overestimated. Recruiting interest can be identified as serious when coaches have offered scholarships, made personal phone calls, or paid in-home visits.</p>
</br>
</br>

<h3>What if a player’s SEVA Score is high, but the player is not receiving high interest from elite schools?</h3>
<p>It is difficult to say why college coaches have not shown as much interest as the player’s performance would suggest. The following are possible explanations:
	<ul>
	<li>The player is undervalued and have been overlooked by coaches.</li>
	<li>Coaches may believe that the player’s performance has been great, but that his game will not translate to the next level.</li>
	<li>Coaches may believe that the player has maximized his potential and does not have much room to improve.</li>
	<li>Coaches may believe that the player’s off-court skills are not adequate (i.e. grades, character, etc.)</li>
	</ul></p>
</br>
</br>
<h3>Do SEVA Scores account for club (AAU) performance?</h3>
<p>Currently, club basketball tournaments do not provide statistics that are accurate enough to incorporate into SEVA's models. Knowing that club basketball is becoming the lifeblood of college basketball recruiting, we are working to improve the accuracy of statistics at this level and thus improve the SEVA model by incorporating this information.
How can a player improve his SEVA Score?
There are various ways that a player can increase his SEVA Score, including scoring more points per game, winning more games, or dishing out a few more assists. It is different for every player.</p>
</br>
</br>
<h3>From where does SEVA get data?</h3>
<p>SEVA gathers data from various media sources.  Most high schools send box score and game information to newspapers, online media sites, and other sources.  SEVA collaborates with these sources to provide a one-stop database for high school basketball stats.</p>
</br>
</br>
<h3>Is SEVA’s data 100% accurate?</h3>
<p>While we cannot guarantee 100% accuracy, we know that our data is very close.  Discrepancies may come from misreporting of data, typos, or other minor mistakes.  These errors are very minor and typically negligible.  If you come across an error, please notify us at contact@SEVASPORTS.com </p>
</br>
</br>
<p class= "quote"><strong>Rick Majerus,</strong> commenting about preparing to face Kentucky in the national championship, stated, “They have all those McDonald’s All-Americans.  We have 4 guys on our team who don’t even have a McDonalds in their town.”</p>

</br>
</br>

<script>
  $('#previous-players').dataTable({
    "sPaginationType": "bootstrap"
  });
</script>
