<p><%= image_tag ('TempleBball.jpg'), class: 'img-responsive' %></p>


<h1>Welcome to SEVA Sports!</h1>

<div>
  <div class='col-sm-4'>
    <div class='thumbnail text-center'>
      <h2 class="glyphicon glyphicon-search"></h2>
      <h5>Search 30k+ players</h5>
      <p>We gather data from high school coaches</p></br></br>
    </div>
  </div>
  <div class='col-sm-4'>
    <div class='thumbnail text-center'>
      <h2 class="glyphicon glyphicon-search"></h2>
      <h5>Statistically compare players</h5>
      <p>We statistically evaluate every player, so you don't have to. All you have to do is compare the players you like</p>
    </div>
  </div>
    <div class='col-sm-4'>
      <div class='thumbnail text-center'>
      <h2 class="glyphicon glyphicon-eye-open"></h2>
      <h5>Recruit only the best</h5>
      <p>After you have cut through the fluff, or found that diamond in the rough, its game on.</p></br>
    </div>
  </div>
</div
