<h1>Listing static_pages</h1>

<table>
  <tr>
    <th>Home</th>
    <th>About</th>
    <th>Contact</th>
    <th>Pricing</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>



<%= link_to 'New Static page', new_static_page_path %>
