<h2>Legal Notice</h2>
<div class= 'legal'>
  
<p><span><strong>Legal</strong></span></br>
The terms “the company”, “we”, and “us” refer to SEVA Sports.  The terms “you”, “user”, and “subscriber” refer to users of the website and it’s services.</p>

<p><span><strong>Use of Services</strong></span></br>
Use of this site is without warranty and in an as-is condition and on an as available basis.  The Web Site does not guarantee the accuracy or reliability of the information presented on this website.  Errors, discrepancies, or mistakes may occur and the company is not held liable for such.

Users are responsible for maintaining the confidentiality of personal login names and passwords.  Users must accept responsibility for all activities, charges, and damages that occur under your account.

The content, information, data, designs, code, and materials pertaining to this website are protected by intellectual property and other laws. Users are required to comply with all such laws and applicable copyright, trademark or other legal notices or restrictions.

Subject to these Terms, users may access and use the Services only for use. We reserve all other rights to the services and content of this website, and users may not otherwise copy, reproduce, distribute, publish, display, perform, or create derivative works of said services or content without our permission. Users also may not transfer or sublicense this limited right to use the services or resell the services.

The company, and this website, does not represent or warrant that the site or users use of the site will be uninterrupted, free of errors, free of defects, or will operate with all software.</p>

<p><span><strong>Liability</strong></span></br>
The company, and this website, will not be liable to users (registered or unregistered) or any other third party for consequential, incidental, indirect, punitive, or special damages.

Users hereby agree that by use of this site, to be governed by the Laws of the State of Utah.  Any and all actions or claims will be brought in a court of competent jurisdiction within the borders of the State of Utah at the court closest to the company headquarters, or another reasonable location named by the company’s managers.</p>

<p><span><strong>Force Majeure</strong></span></br>
The company, and this website, will not be liable for failing to perform under these terms of use by the occurrence of any event beyond its reasonable control, including, without limitation, a labor disturbance, an Internet outage or interruption of service, a communications outage, failure by a service provider to the website to perform, fire, terrorism, natural disaster or war, or other event outside the control of the company.</p>

<p><span><strong>Subscriptions</strong></span></br>
A “team subscription” is granted on an individual team basis and is granted for the use of that team only.  The use is limited to coaches, managers, video coordinators, and scouts only.  Team subscriptions are non-transferrable and cannot be shared or distributed in any way.

An “individual subscription” is granted on an individual basis and is granted for the use of that person only.  The use is limited to that individual only.  Individual subscriptions are non-transferrable and cannot be shared or distributed in any way.

All subscriptions are granted on monthly or annual basis.  Subscriptions are non-recurring, and will expire one year or one month (depending on the type) from their purchase.

All subscription fees are non-refundable. The company reserves the right to make changes to its content at any time. If the company temporarily reduces or eliminates the charge for content or access that users are currently paying for under different terms, users will not receive a refund.
</p>
  
</div>