<H1>Pricing</H1>

<DIV>
  <table>
    <thead>
      <td>Package</td>
      <td>Price</td>
      <td>Features</td>
    </thead>
    <tbody>
    <tr>
      <td>Bronze</td>
      <td>$50/mo</td>
      <td>Access to ALL the SEVA players in your State</td>
    </tr>
    <tr>
      <td>Silver</td>
      <td>$500/mo</td>
      <td>Access to ALL the SEVA players in your Conference</td>
    </tr>
    <tr>
      <td>Gold</td>
      <td>$5,000/mo</td>
      <td>Access to ALL the SEVA players, and a signed photograph of BYU legend, Chris Colinsworth</td>
    </tr>
    </tbody>
  </table>

  <%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-primary btn-lrg" %>

</DIV>
