/*
*= require dataTables/jquery.dataTables 
*= require dataTables/jquery.dataTables.bootstrap3
*/

$linkwhite: #ffffff;
$sevablue: #02cafc;
$primary-color: $sevablue;

@import "bootstrap_and_overrides";

body { 
padding-top: 70px; 
}

.container {
margin: 5px;
min-height: 100%
}

.main-body {
   min-height: 100%
}

.navbar-inverse {
  color: white;
}

.footer {
  position: relative;
  margin-top: -35px; 
  height: 15px;
  clear: both;
} 

html, body {
    min-height: 100%
}

.post {
  background-color: lightgrey;
  width: 50%;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
}

#post-form {
width: 506px;
}

.quote {
  background-color: lightgrey;
  padding: 5px;
}

#sevablue-btn {
  color: #ffffff;
  background-color: #02cafc;

}

.navbar-inverse .brand,.navbar-inverse .nav>li>a {
  color: #ffffff;
  text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);
  }

