/*
*= require dataTables/jquery.dataTables 
*= require dataTables/jquery.dataTables.bootstrap3
*/

@import "bootstrap";



body { 
padding-top: 70px; 
}

.container {
margin: 5px;
min-height: 100%
}

.main-body {
   min-height: 100%
}

.footer {
  position: relative;
  margin-top: -35px; 
  height: 15px;
  clear: both;
} 

html, body {
    min-height: 100%
}

.post {
  background-color: lightgrey;
  width: 50%;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
}

#post-form {
width: 506px;
}

.quote {
  background-color: lightgrey;
  padding: 5px;
}

