<footer>
  <div class='container text-center'>
    <nav class="navbar" role="footer">
    <p>&copy; <%= Time.now.year %> <%= link_to ("SEVA Sports."), legal_path %> All rights reserved </p>
    </nav>
  </div>
</footer>