<nav class="navbar navbar-default navbar-fixed-top" role="navigation"> 
  <div>
    <ul class="nav navbar-nav">
      <li><%= link_to "SEVA SPORTS", root_path, class: "navbar-brand btn" %></li>
      <li><%= link_to t(:about), about_path, class: "btn" %></li>
      <li><%= link_to t(:contact), contact_path, class: "btn" %></li>
      <li><%= link_to t(:pricing), pricing_path, class: "btn" %></li>
    </ul> 
  </div>
</nav>